# Python
__pycache__/
*.py[cod]
*$py.class
backend/.env
backend/*.json
!backend/requirements.txt

# Node
node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
